.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #DFEEEA;
    border: 1px solid #DFEEEA;
    color: #2F5D62;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #eee;
    border-color: #2F5D62;
  }